* {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
    background: linear-gradient( 45deg, red, blue);
    color: #f0f0f0;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: absolute;
    top: 20px;
    right: 30px;
    
}

.side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

    background: #1a1a1a;
    padding: 8px 15px;
    border-radius: 15px;

    width: max-content;
}
.side  a{
    color: white;
    text-decoration: none;
   
}

.content {
    flex: 1;
    padding: 60px;
    width: 100%;
}

.content h1 {
    margin-bottom: 40px;
}


/* ОСНОВНОЙ БЛОК */

.about-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}


/* ЛЕВАЯ ЧАСТЬ */

.about-left {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ПЕРСОНАЖ */

.unknown img {
    width: 250px;
    height: auto;
    display: block;
    margin-bottom: 30px;
}


/* ТЕКСТ */

.about-text {
    width: 100%;
    max-width: 500px;
    line-height: 1.6;
    font-size: 1.2rem;
    margin: 0;
}


/* НАВЫКИ */

.about-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 340px;
}
.skill{
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.skill p{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1rem;
    animation: slideFromRight 2.4s ease forwards;
}

/* КАРТОЧКИ НАВЫКОВ */

.skill-box {
    width: 100px;
    height: 100px;

    background: #1a1a1a;
    border: 1px solid #ff4d5e;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    animation: cardAppear 1.1s ease forwards;
}


/* ИКОНКИ */

.skill-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;

}
.skill-box:nth-child(1) .skill-box {
    animation-delay: 0.6s;
}
.skill-box:nth-child(2) .skill-box {
    animation-delay: 1s;
}
.skill-box:nth-child(3) .skill-box {
    animation-delay: 1s;
}
/* ЗАГОЛОВОК */

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 50px;
    color: rgb(255, 255, 255);
}
p{
    animation: slideFromRight 1.2s ease forwards;
}
@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes cardAppear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes pageEnter {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.page-exit {
  animation: pageExit 0.5s ease forwards;
}
@keyframes pageExit {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}
@media(max-width:600px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    .layout{
        width: 100%;
        min-height: 100vh;
        display: block;
    }

    .sidebar{
        position: relative;
        top: auto;
        right: auto;

        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 15px;

    }

    .side{
        gap: 12px;
        padding: 8px 12px;
        max-width: 95%;
    }
    .side a{
        font-size: 14px;
    }
    .content{
        width: 100%;
        padding: 25px 15px;
    }

    .content h1{
        font-size: 40px;
        margin-bottom:  30px ;
    }

    .about-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .about-left{
        width: 100%;
        max-width: 500px;
    }

    .unknown img{
        width: 200px;
        max-width: 100%;
        margin: 0 auto 30px;

    }

    .about-text{
        width: 100%;
        max-width: 500px;
        font-size: 1rem;
        line-height: 1.6;
        text-align: left;
    }

    .about-skills{
        width: 100%;
        max-width: 340px;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .skill-box{
        width: 90px;
        height: 90px;

    }

    .skill-box img{
        width: 55px;
        height: 55px;
    }
}
