*{
    box-sizing: border-box;
}
body{
      min-height: 100vh;
    margin: 0;
    background: linear-gradient( 45deg, red, blue);
    color: #f0f0f0;
}

.sidebar {
    position: absolute;
    top: 20px;
    right: 30px;
    
}

.side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

    background: #1a1a1a;
    padding: 8px 15px;
    border-radius: 15px;

    width: max-content;
}
.side  a{
    color: white;
    text-decoration: none;
   
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 50px;
    color: rgb(255, 255, 255);
}
.project-card,
.project-card2,
.project-card3 {
    width: 400px;
    padding: 20px;
    margin: 30px auto;

    background: #1a1a1a;
    border-radius: 15px;

    text-align: center;

    box-shadow: 0 0 15px rgba(63, 0, 134, 0.637);
}


.project-card img,
.project-card2 img,
.project-card3 img {
    width: 100%;
    border-radius: 10px;
    display: block;
}


.project-card h3,
.project-card h4,
.project-card h5 {
    margin: 15px 0 10px;

    font-size: 25px;
    color: white;
}


.project-card p,
.project-card2 p,
.project-card3 p {
    font-size: 18px;
    margin: 10px 0 15px;
}


.project-card a,
.project-card2 a,
.project-card3 a {
    display: inline-block;

    padding: 10px 20px;

    background: #30007c;
    color: white;

    border-radius: 10px;

    text-decoration: none;

    transition: 0.3s;
}


.project-card a:hover,
.project-card2 a:hover,
.project-card3 a:hover {
    background: #4d00bd;
    transform: scale(1.05);
}
i{
    color: #1a1a1a;
}